/* HTML: <div class="loader"></div> */
.loader {
  width: 180px;
  height: 20px;
  border-radius: 20px;
  background: linear-gradient(orange 0 0) 0/0% no-repeat lightblue;
  animation: l2 2s infinite steps(10);
  margin: auto;

  /* top | right | bottom | left */
  margin: 4px auto 4px auto;
}

@keyframes l2 {
  100% {
    background-size: 110%;
  }
}
