/* HTML: <div class="loader"></div> */
/* .loader {
  width: 160px;
  height: 20px;
  background: linear-gradient(#8fd14f 0 0) 0/0% no-repeat #e5f5e0;
  animation: l1 2s infinite linear;
  margin: 30px auto 30px auto;
  border-radius: 20px;
}
@keyframes l1 {
  100% {
    background-size: 100%;
  }
} */

/* HTML: <div class="loader"></div> */
.loader {
  height: 4px;
  width: 130px;
  --c: no-repeat linear-gradient(#8fd14f 0 0);
  background: var(--c), var(--c), #e5f5e0;
  background-size: 60% 100%;
  animation: l16 3s infinite;
  margin: 30px auto 30px auto;
}
@keyframes l16 {
  0% {
    background-position: -150% 0, -150% 0;
  }
  66% {
    background-position: 250% 0, -150% 0;
  }
  100% {
    background-position: 250% 0, 250% 0;
  }
}
