/* HTML: <div class="loader"></div> */
.loader {
  width: 160px;
  height: 20px;
  background: linear-gradient(#31a354 0 0) 0/0% no-repeat #e5f5e0;
  animation: l1 2s infinite linear;
  margin: 20px auto 20px auto;
}
@keyframes l1 {
  100% {
    background-size: 100%;
  }
}
